{% extends 'base.html' %}
{% load static %}
{% load materializecss %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<!-- Floating Fixed button: Actions -->
<div class="fixed-action-btn">
    <span class="mr-20">Keep Shopping</span>
    <a id="add-to-cart-floating-btn" href="{% url 'products' %}" class="btn-floating btn-large modal-trigger waves-effect waves-light cyan darken-2">
        <i class="large material-icons">keyboard_arrow_left</i>
    </a>
</div>
<!-- Cart Items Section -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h4 class="center-text header">Your Order Is Complete!</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8">
                <p>Thank you for chosing Guatemalan Coffees for your next quality coffee experience!</p>
                <p>We have sent an order confirmation to your email address: {{ email_address }}</p>
                <h5 class="header cyan-text text-darken-3 mt-20">Your Order Info</h5>
                <div class="card horizontal mt-20">
                    <div class="card-stacked">
                        <div class="card-content">
                            Order Number: {{ order_number }}
                            <p>Something else here</p>
                        </div>
                    </div>
                </div>
                <h5 class="header cyan-text text-darken-3 mt-20">Delivery Info</h5>
                <div class="card horizontal mt-20">
                    <div class="card-stacked">
                        <div class="card-content">
                            Something here
                        </div>
                        <div class="card-action">
                            Something here
                        </div>
                    </div>
                </div>	
            </div>
            <div class="col s12 m4 center-align">
                {% if cart_items %} 
                    <h5 class="mt-20">Forgot something?</h5>
                    <div class="card checkout-card">
                        <div class="card-image">
                            <img src="{{ MEDIA_URL }}full_cups.jpg">
                            <a href="{% url 'view_cart' %}"> <span class="card-title light-shadow">Back To Cart <i class="material-icons">shopping_cart</i></span></a>
                            <a href="{% url 'view_cart' %}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_left</i></a>
                        </div>
                        <div class="card-content">
                            <h5>Order Summary</h5>
                        </div>
                        <div class="collection-wrapper">
                            <ul class="collection">
                                {% for item in cart_items %}
                                
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-content right-align">
                            <h6 class="mt-20"><strong>Cart Items Total: $</strong></h6>
                            <h6>Delivery Fee: ${{ delivery|floatformat:2 }}</h6>
                            <h5><strong>Grand Total: <span class="teal-text text-darken-3">$</span></strong></h5>
                            {% if free_delivery_delta > 0 %}
                                <p class="yellow-text text-darken-4">
                                    You could get free delivery by spending just <strong>$</strong> more!
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                <img src="{{ MEDIA_URL }}full_cups.jpg" alt="Full Coffee Cups image" class="div-cover-image">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Intro Parallax Section -->
<div class="slider">
    <ul class="slides">
        <li>
            <img alt="Guatemala Background Image" src="{{ MEDIA_URL }}background8.jpg"> <!-- Semuc Champei image -->
            <div class="caption center-align">
                <h3>One Of The World's Best</h3>
                <h5 class="light grey-text text-lighten-3">High quality coffees.</h5>
            </div>
        </li>
        <li>
            <img alt="Guatemala Background Image" src="{{ MEDIA_URL }}background5.jpg"> <!-- Atitlan image -->
            <div class="caption left-align">
                <h3>A Blessed Country</h3>
                <h5 class="light grey-text text-lighten-3">With unique growing conditions.</h5>
            </div>
        </li>
        <li>
            <img alt="Guatemala Background Image" src="{{ MEDIA_URL }}background9.jpg"> <!-- Tikal image -->
            <div class="caption right-align">
                <h3>7 Coffee Regions</h3>
                <h5 class="light grey-text text-lighten-3">With distinct cup profiles.</h5>
            </div>
        </li>
        <li>
            <img alt="Guatemala Background Image" src="{{ MEDIA_URL }}background7.jpg"> <!-- Volcano landscape image -->
            <div class="caption center-align">
                <h3>Enjoy your Coffee!</h3>
                <h5 class="light grey-text text-lighten-3">Begin your own experience.</h5>
            </div>
        </li>
    </ul>
</div>
<a id="buy-home-btn" href="{% url 'products' %}" class="btn-floating btn waves-effect waves-light deep-purple darken-3">Buy Now</a>
<!-- About Us Section -->
<div class="parallax-container valign-wrapper about-parallax-container">
    <div class="section">
        <div class="about-wrapper">
            <div class="row center">
                <div class="container">
                    <h3 class="brown-text"><i class=""></i>About Us</h3>
                    <h5 class="header col s12 brown-text">A modern responsive front-end framework based on Material Design</h5>
                    <p class="col s12 left-align black-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non
                        consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo,
                        ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium
                        eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis
                        nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed
                        ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        Curae;
                    </p>
                </div>
            </div>                
        </div>
    </div>
    <div class="parallax"><img src="{{ MEDIA_URL }}background4.jpg" alt="Coffee Plant Fruits Image"></div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        $('.slider').slider();
        $('select').material_select();
        $('ul.tabs').tabs('select_tab', 'tab_id');
    });
</script>
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
