{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}
{% load materializecss %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<!-- Floating Fixed button: Actions -->
<div class="fixed-action-btn">
    <span class="mr-20">Keep Shopping</span>
    <a id="add-to-cart-floating-btn" href="{% url 'products' %}" class="btn-floating btn-large modal-trigger waves-effect waves-light cyan darken-2">
        <i class="large material-icons">keyboard_arrow_left</i>
    </a>
</div>
<!-- Cart Items Section -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h4 class="center-text header">Secure Checkout</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8">
                <p>Please complete the following information to complete your order</p>
				<form action="{% url 'checkout' %}" method="POST" id="payment-form">
					{% csrf_token %}
                    <h5 class="header cyan-text text-darken-3 mt-20">User Info</h5>
					<div class="card horizontal mt-20">
						<div class="card-stacked">
                            <div class="card-content">
                            {{ order_form.username | materializecss:'icon=fas fa-user' }}
                            {{ order_form.email | materializecss:'icon=far fa-envelope' }}
                            {{ order_form.first_name | materializecss:'custom_size=s12 m6' }}
                            {{ order_form.last_name | materializecss:'custom_size=s12 m6' }}
                            </div>
						</div>
					</div>
                    <h5 class="header cyan-text text-darken-3 mt-20">Delivery Info</h5>
					<div class="card horizontal mt-20">
						<div class="card-stacked">
                            <div class="card-content">
                            {{ order_form.phone_number | materializecss:'icon=fas fa-phone' }}
                            {{ order_form.street_address_1 | materializecss:'custom_size=s12 m6, icon=fas fa-house-user' }}
                            {{ order_form.street_address_2 | materializecss:'custom_size=s12 m6' }}
                            {{ order_form.town_or_city | materializecss:'custom_size=s12 m4' }}
                            {{ order_form.state | materializecss:'custom_size=s12 m4' }}
                            {{ order_form.postcode | materializecss:'custom_size=s12 m4' }}
                            {{ order_form.country | materializecss:'custom_size=s12 m6' }}
                            </div>
                            <div class="card-action">
                                {% if user.is_authenticated %}
                                <input type="checkbox" name="save_info" class="filled-in teal darken-3" id="save-info-box" checked="checked" />
                                <label for="save-info-box">Save this delivery information to my profile</label>
                                {% else %}
                                <label class="form-check-label" for="id-save-info">
                                    <a class="cyan-text mx-20" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="cyan-text mx-20" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
                                {% endif %}
                            </div>
						</div>
					</div>
					<h5 class="header cyan-text text-darken-3 mt-20">Payment Info</h5>
					<div class="card horizontal mt-20">
						<div class="card-stacked">
                            <div class="card-content">
                                <!-- A Stripe card element will go here -->
                                <div class="" id="card-element"></div>
                                <!-- Used to display form errors -->
                                <div class="red-text text-darken-3" id="card-errors" role="alert"></div>
                                <!-- Pass the client secret to the view so we can get the payment intent id -->
                                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                            </div>
                            <div class="card-action">
                                <span class="icon teal-text text-darken-3">
                                    <i class="material-icons left">credit_card</i>
                                </span>
                                <span class="">Your card will be charged <strong class="teal-text text-darken-3">${{ grand_total|floatformat:2 }}</strong></span> 
                            </div>
						</div>
					</div>
				
                    <div class="submit-button mt-50 right-align">
                        <button id="checkout-button" class="btn waves-effect waves-light deep-purple darken-3">
                            <span class="">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        
                    </div>
				</form>
            </div>
            <div class="col s12 m4 center-align">
                {% if cart_items %} 
                    <h5 class="mt-20">Forgot something?</h5>
                    <div class="card checkout-card">
                        <div class="card-image">
                            <img src="{{ MEDIA_URL }}full_cups.jpg">
                            <a href="{% url 'view_cart' %}"> <span class="card-title light-shadow">Back To Cart <i class="material-icons">shopping_cart</i></span></a>
                            <a href="{% url 'view_cart' %}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_left</i></a>
                        </div>
                        <div class="card-content">
                            <h5>Order Summary</h5>
                        </div>
                        <div class="collection-wrapper">
                            <ul class="collection">
                                {% for item in cart_items %}
                                <li class="collection-item avatar collection-cart-summary">
                                    {% if item.product.main_image %}
                                    <a href="{% url 'product_detail' item.product.id %}">
                                        <img class="circle" src="{{ item.product.main_image.url }}" alt="Product small image">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' item.product.id %}">
                                        <img class="circle" src="{{ MEDIA_URL }}no_image_available.png" alt="Product small image">
                                    </a>
                                    {% endif %}
                                    <span class="title">{{ item.product.name|truncatechars:10 }}</span>
                                    <h6>{{ item.grind|title }} ({{ item.quantity }} Units)<h6>
                                    <a href="#!" class="secondary-content">$ {{ item.product.retail_price | calc_subtotal:item.quantity }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-content right-align">
                            <h6 class="mt-20"><strong>Cart Items Total: ${{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery Fee: ${{ delivery|floatformat:2 }}</h6>
                            <h5><strong>Grand Total: <span class="teal-text text-darken-3">${{ grand_total|floatformat:2 }}</span></strong></h5>
                            {% if free_delivery_delta > 0 %}
                                <p class="yellow-text text-darken-4">
                                    You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                <img src="{{ MEDIA_URL }}empty_cups.jpg" alt="Empty Cups image" class="div-cover-image">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Horizontal Line -->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <hr class="mt-50">
        </div>
    </div>
</div>
<!-- Reviews Section -->
<div class="container">
    <div class="section">
        <div class="row about-wrapper">
            <div class="col s12 center">
                <h4 class="brown-text">Tell Us What You Think!</h4>
                <div class="row">
                    <div class="col s12 m6">
                        <ul class="collection quote-collection">
                            <li class="collection-item avatar">
                                <img src="{{ MEDIA_URL }}alex.jpg" alt="Guy smiling image" class="circle quote-img">
                                <blockquote>
                                    <h5 class="">The Perfect Flavor Balance!</h5>
                                    <span class="material-icons">format_quote</span>
                                    I never thought coffee could have a perfect balance of sweet notes and acidity with a full body. <br> I can't have another coffee!
                                    <span class="material-icons">format_quote</span>
                                    <br><br>- Josh Stevens, CA
                                </blockquote>
                                <span href="#!" class="secondary-content">
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    5/5
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col s12 m6">
                        <ul class="collection quote-collection">
                            <li class="collection-item avatar">
                                <img src="{{ MEDIA_URL }}michelle.jpg" alt="Girl smiling image" class="circle quote-img">
                                <blockquote>
                                    <h5 class="">My Stomach Is Happy Now</h5>
                                    <span class="material-icons">format_quote</span>
                                    Because of some stomach issues I could not tolerate coffee before. <br>But now I do since I drink Guatemalan coffees!
                                    <span class="material-icons">format_quote</span>
                                    <br><br>- Erica McCartney, NY
                                </blockquote>
                                <span href="#!" class="secondary-content">
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    5/5
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Enjoyed Our Coffe? Section -->
<div id="index-banner" class="parallax-container question-parallax">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center cyan-text text-lighten-2 light-shadow">Enjoyed Our Coffee?</h1>
            <div class="row center">
                <h5 class="header col s12 light">Do you have a favorite coffee from our store?</h5>
                <h5>Let us know leaving a review of our products!</h5>
            </div>
            <div class="row center">
                <a href="{% url 'products' %}" id="download-button" class="btn-large waves-effect waves-light deep-purple darken-3">Get Started</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="{{ MEDIA_URL }}background7.jpg" alt="Guatemalan Antigua Town Background Image"></div>
</div>
<!-- Loading Overlay -->
<div id="loading-overlay">
	<div class="preloader-wrapper giant center-spinner active">
		<div class="spinner-layer spinner-blue">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>

		<div class="spinner-layer spinner-red">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>

		<div class="spinner-layer spinner-yellow">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>

		<div class="spinner-layer spinner-green">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        $('.slider').slider();
        $('select').material_select();
        $('ul.tabs').tabs('select_tab', 'tab_id');
    });
</script>
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
