{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}
{% load materializecss %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<!-- Processed Order Confirmation -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h4 class="header">Your Order Is Complete!</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8">
                <p>We have sent an order confirmation to your email address: <span class="cyan-text">{{ email_address }}</span></p>
                <p>Thank you for chosing Guatemalan Coffees for your next quality coffee experience!</p>
                <h5 class="header cyan-text text-darken-3 mt-20">Your Order Info</h5>
                <div class="card horizontal mt-20">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Order Number: <small>{{ order_number }}</small></p>
                            <p>Processed Date: <small>{{ order.date }}</small></p>
                        </div>
                        <div class="card-action left-align">
                            <h6 class="">Number Items: {{ order.lineitems.all |length }} Products</h6>
                            <h6>Delivery Fee: ${{ order.delivery_cost|floatformat:2 }}</h6>
                            <h5><strong>Order Total: <span class="teal-text text-darken-3">${{ order.grand_total|floatformat:2 }}</span></strong></h5>
                        </div>
                    </div>
                </div>
                <h5 class="header cyan-text text-darken-3 mt-20">Delivery Information</h5>
                <div class="card horizontal mt-20">
                    <div class="card-stacked">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <table class="striped product-detail-table">
                                        <thead>
                                            <tr>
                                                <th>Full Name</th>
                                                <td>{{ order.first_name|title }} {{ order.last_name|title }}</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Phone Number</th>
                                                <td>{{ order.phone_number|title }}</td>
                                            </tr>
                                            <tr>
                                                <th>Address</th>
                                                <td>{{ order.street_address_1|title }}</td>
                                            </tr>
                                            {% if order.street_address_2 %}
                                            <tr>
                                                <th>Address Line 2</th>
                                                <td>{{ order.street_address_2|title }}</td>
                                            </tr>
                                            {% endif %}
                                            <tr>
                                                <th>City or Town</th>
                                                <td>{{ order.town_or_city|title }}</td>
                                            </tr>
                                            <tr>
                                                <th>State</th>
                                                <td>{{ order.state|title }}</td>
                                            </tr>
                                            <tr>
                                                <th>Zip Code</th>
                                                <td>{{ order.postcode|title }}</td>
                                            </tr>
                                            <tr>
                                                <th>Country</th>
                                                <td>{{ order.country|upper }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <h5 class="header cyan-text text-darken-3 mt-20">Order Details</h5>
                <div class="card horizontal mt-20">
                    <div class="card-stacked table-cart-container">
                        <div class="card-content">
                            <table class="striped">
                                <thead>
                                    <tr>
                                        <th class="cart-table-product-col-name">Product name</th>
                                        <th class="cart-table-product-col-img"></th>
                                        <th class="center-align update-quantity-col">Number</th>
                                        <th class="center-align price-update-col">Price</th>
                                        <th class="center-align price-update-col">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.lineitems.all %}
                                    <tr>
                                        <td class="cart-table-product-col-name">
                                            {{ item.product.name|truncatechars:30 }}
                                            <p class="brown-text text-darken-1"></p>
                                            <div class="chip">
                                                <img src="{{ MEDIA_URL }}coffee_bean_icon.png" alt="Coffee Bean Icon">
                                                <strong></strong>{{ item.product_grind|title }}
                                            </div>
                                        </td>
                                        <td class="cart-table-product-col-img center-align">
                                            {% if item.product.main_image %}
                                            <a href="{% url 'product_detail' item.product.id %}">
                                                <img class="circle quote-img" src="{{ item.product.main_image.url }}" alt="Product small image">
                                            </a>
                                            {% else %}
                                            <a href="{% url 'product_detail' item.product.id %}">
                                                <img class="circle quote-img" src="{{ MEDIA_URL }}no_image_available.png" alt="Product small image">
                                            </a>
                                            {% endif %}
                                        </td>
                                        <td class="center-align update-quantity-col">
                                            {{ item.quantity }}
                                        <td class="center-align price-update-col">
                                            $ {{ item.product.retail_price }}
                                        </td>
                                        <td class="center-align price-update-col">
                                            $ {{ item.product.retail_price | calc_subtotal:item.quantity }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-action left-align">
                            <h6 class=""><strong>Items Total: ${{ order.order_total|floatformat:2 }}</strong></h6>
                            <h6>Delivery Fee: ${{ order.delivery_cost|floatformat:2 }}</h6>
                            <h5><strong>Order Total: <span class="teal-text text-darken-3">${{ order.grand_total|floatformat:2 }}</span></strong></h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 center-align">
                
                <h5 class="mt-20">Forgot something?</h5>
                <div class="card">
                    <div class="card-image">
                        <img src="{{ MEDIA_URL }}coffee_full_cups.jpg" alt="Full Coffee Cups image" class="div-cover-image">
                        <a href="{% url 'products' %}"> <span class="card-title light-shadow">Keep Shopping <i class="material-icons">shopping_cart</i></span></a>
                        <a href="{% url 'products' %}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_left</i></a>
                    </div>
                    <div class="card-content">
                        <h5>Check Out Our New Products!</h5>
                        <h5 class="mt-20 green-text text-darken-4">Available now in stock</h5>
                    </div>
                    <div class="collection-wrapper">
                        <ul class="collection">
                            {% for product in new_products %}
                                <li class="collection-item avatar collection-cart-summary">
                                    <a href="{% url 'product_detail' product.pk %}">
                                        {% if product.main_image %}
                                        <img class="circle quote-img" src="{{ product.main_image.url }}" alt="Product small image">
                                        {% else %}
                                        <img class="circle quote-img" src="{{ MEDIA_URL }}no_image_available.png" alt="Product small image">
                                        {% endif %}
                                        <div class="right-align">
                                            <h5 class="mt-50 black-text">{{ product.name|truncatechars:20 }}</h5>
                                        <h6 class="brown-text text-darken-3">{{ product.region.friendly_name|title }}</h6>
                                        <div class="chip mt-20">
                                            <img src="{{ MEDIA_URL }}coffee_bean_icon.png" alt="Coffee Bean Icon">
                                            {{ product.roast_level|capfirst }} Roast
                                        </div>
                                        </div>
                                        <a href="#!" class="secondary-content">$ {{ product.retail_price }}</a>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Intro Parallax Section -->
<div class="slider">
    <ul class="slides">
        <li>
            <img alt="Guatemala Background Image" src="{{ MEDIA_URL }}background8.jpg"> <!-- Semuc Champei image -->
            <div class="caption center-align">
                <h3>One Of The World's Best</h3>
                <h5 class="light grey-text text-lighten-3">High quality coffees.</h5>
            </div>
        </li>
        <li>
            <img alt="Guatemala Background Image" src="{{ MEDIA_URL }}background5.jpg"> <!-- Atitlan image -->
            <div class="caption left-align">
                <h3>A Blessed Country</h3>
                <h5 class="light grey-text text-lighten-3">With unique growing conditions.</h5>
            </div>
        </li>
        <li>
            <img alt="Guatemala Background Image" src="{{ MEDIA_URL }}background9.jpg"> <!-- Tikal image -->
            <div class="caption right-align">
                <h3>7 Coffee Regions</h3>
                <h5 class="light grey-text text-lighten-3">With distinct cup profiles.</h5>
            </div>
        </li>
        <li>
            <img alt="Guatemala Background Image" src="{{ MEDIA_URL }}background7.jpg"> <!-- Volcano landscape image -->
            <div class="caption center-align">
                <h3>Enjoy your Coffee!</h3>
                <h5 class="light grey-text text-lighten-3">Begin your own experience.</h5>
            </div>
        </li>
    </ul>
</div>
<a id="buy-home-btn" href="!#" style="width:300px;" class="btn-floating btn waves-effect waves-light deep-purple darken-3">Join Our Coffee Club</a>
<!-- Reviews Section -->
<div class="container">
    <div class="section">
        <div class="row about-wrapper">
            <div class="col s12 center">
                <h4 class="brown-text">Tell Us What You Think!</h4>
                <div class="row">
                    <div class="col s12 m6">
                        <ul class="collection quote-collection">
                            <li class="collection-item avatar">
                                <img src="{{ MEDIA_URL }}alex.jpg" alt="Guy smiling image" class="circle quote-img">
                                <blockquote>
                                    <h5 class="">The Perfect Flavor Balance!</h5>
                                    <span class="material-icons">format_quote</span>
                                    I never thought coffee could have a perfect balance of sweet notes and acidity with a full body. <br> I can't have another coffee!
                                    <span class="material-icons">format_quote</span>
                                    <br><br>- Josh Stevens, CA
                                </blockquote>
                                <span href="#!" class="secondary-content">
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    5/5
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col s12 m6">
                        <ul class="collection quote-collection">
                            <li class="collection-item avatar">
                                <img src="{{ MEDIA_URL }}michelle.jpg" alt="Girl smiling image" class="circle quote-img">
                                <blockquote>
                                    <h5 class="">My Stomach Is Happy Now</h5>
                                    <span class="material-icons">format_quote</span>
                                    Because of some stomach issues I could not tolerate coffee before. <br>But now I do since I drink Guatemalan coffees!
                                    <span class="material-icons">format_quote</span>
                                    <br><br>- Erica McCartney, NY
                                </blockquote>
                                <span href="#!" class="secondary-content">
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    <i class="material-icons">grade</i>
                                    5/5
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        $('.slider').slider();
        $('select').material_select();
        $('ul.tabs').tabs('select_tab', 'tab_id');
    });
</script>
{% endblock %}
