/* Custom Stylesheet */

 
html {
    height: 100%;
}

body {
    /* height: calc(100vh - 164px); */
    background-size: cover;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
}

/* ---------- Text, Margin, Paddings ---- */
p {
  line-height: 2rem;
}

.text-strong {
    font-family: 'Ubuntu', sans-serif;
}

/* ---------- Navbar ------------ */

#delivery-top-banner {
    margin-bottom: 0px;
}

#navbar-background {
        background: url('/media/nav_background.jpeg') no-repeat right fixed;
        background-size: cover;
}

nav {
    height: 200px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.0)
}

#content-navbar, #content-nav-mobile {
    padding: 20px 0px;
}

#content-navbar {
        background-color: rgba(211, 18, 69, 0.7)
}

#mobile-button-collapse {
    font-size: 40px;
    color: #fafafa; 
}

.nav-content .btn {
    margin: 8px 8px;
    width: 100px;
    padding: 0;
    height: 30px;
    line-height: 30px;
}

.side-nav li > a.btn {
    margin: 20px 15px;
    font-size: 20px;
}

nav ul a {
    color: #fafafa;
    padding: 0 30px;
}

.button-collapse {
  color: #444;
}

#logo-image {
    text-align: center;
    display: block;
}

.logo-image-container img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 150px;
    }

.dropdown-item {
    color: #444 !important;
}

/* ---------- Home -------------- */

.btn-floating.btn {
    position: relative;
    z-index: 3;
    bottom: 200px;
    font-size: 1.7rem;
    left: 50%;
    width: 150px;
    height: 45px;
    line-height: 45px;
    border-radius: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* --------- Parallax ----------- */

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

/* --------- Section ------------- */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.slider h3, .slider h5 {
    text-shadow: 2px 2px 5px #000000;
}
.slider .indicators .indicator-item.active {
    background-color: #26a69a;
}

/* ---------- Footer ------------ */

footer.page-footer {
  margin: 0;
}

/* -------------------------------------Media Querries --------------- */

/* Small */
@media only screen and (max-width : 768px) {
    #index-banner .section {
        top: 20px;
    }
}

/* Tablet */
@media only screen and (min-width : 768px) {
    nav {
        height: 400px;
        padding-top: 20px;
        background-color: rgba(0, 0, 0, 0.0)
    }
    #navbar-background {
        background: url('/media/nav_background.jpeg') no-repeat center fixed;
        background-size: cover;
    }
    nav .brand-logo {
        color: #444;
        left: 55%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 80%
    }
    #mobile-button-collapse {
        color: #444; 
    }
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
    #logo-image {
        display: block;
    }
    .logo-image-container img {
        margin-top: 30px;
        width: 300px;
    }
}

/* Large */

@media only screen and (min-width: 1024px) {
    nav {
        padding-top: 50px;
        height: 500px;
    }
    nav .nav-content {
        padding-bottom: 20px;
    }
    nav.container {
        width: 80%
    }
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        line-height: 70px; 
    }
    nav .brand-logo {
        font-size: 3.0rem;
        width: 250px;
        color: #444;
        left: 0%;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    nav ul a, nav .right a {
        font-size: 1.7rem
    }
    .logo-image-container img {
        margin-top: 50px;
        width: 400px;
    }
}

