{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load materializecss %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}
<div class="row">
    <div class="col s12">
        <h2 class="brown-text text-darken-3">{% trans "Sign In" %}</h2>
        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with your Google account 
        or <a class="cyan-text text-darken-1" href="{{ signup_url }}">sign up</a> for a new account with your email address:{% endblocktrans %}</p>

        <div class="socialaccount_ballot mt-50">
            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
            <div class="login-or">{% trans 'or' %}</div>
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}
    
        <form class="login mt-20" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.login | materializecss }}
            {{ form.password | materializecss }}
            <div class="col s12 mt-20">
                <input name="remember" id="id_remember" type="checkbox" class="filled-in" checked="checked" />
                <label for="id_remember">Remember me?</label>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="input-field col s12 mt-20">
                <a class="header cyan-text text-darken-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
            <div class="input-field col s12 mt-50">
                <button class="btn waves-effect waves-light deep-purple darken-3" type="submit">{% trans "Sign In" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
