{% extends "account/base.html" %}

{% load i18n %}
{% load materializecss %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="row">
    <div class="col s12">
        <h2 class="brown-text text-darken-3">{% trans "Sign Up" %}</h2>

        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        <form class="signup mt-20" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form | materializecss}}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="input-field col s12 mt-20">
                <button class="btn waves-effect waves-light deep-purple darken-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
