{% load static %}

<!doctype html>
<html lang="en">

<head>

	{% block meta %}
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% endblock %}

	{% block extra_meta %}
	{% endblock %}

	{% block corecss %}
	<!-- Compiled and minified CSS for Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	{% endblock %}

	{% block extra_css %}
	{% endblock %}

	{% block corejs %}
	<!--Import jQuery before materialize.js-->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<!-- Compiled and minified JavaScript for Materialize -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
	<!-- Stripe -->
	<script src="https://js.stripe.com/v3/"></script>
	{% endblock %}

	{% block extra_js %}
	{% endblock %}

	<title>Guate Coffees Shop {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <div id="delivery-top-banner" class="row center waves-light cyan darken-2 white-text">
            <h4 class="col s12 header">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                      
        </div>
        <!-- Navbar -->
        <nav class="cyan lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <div class="navbar-links-container row">
                    <!-- Brand Logo -->
                    <a id="logo-link" href="{% url 'home' %}" class="brand-logo">Online Shop</a>
                    <ul class="right hide-on-med-and-down">
                        <!-- Search Link -->
                        <li><a><i class="material-icons left">search</i>Search</a></li>
                        <!-- Account Link -->
                        <li><a class='dropdown-button' data-beloworigin="true" href='#' data-activates='dropdown_account'><i class="material-icons left">local_cafe</i>Account</a></li>
                        <!-- Cart Link -->
                        <li><a><i class="material-icons left">shopping_cart</i>Cart</a></li>
                    </ul>
                    <!-- Mobile Navbar -->
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="#">Navbar Link</a></li>
                    </ul>
                </div>
                <div id="logo-image" class="logo-image-container">
                    <img class="col materialboxed" src="{{ MEDIA_URL }}guatemalan_coffees_logo.png">
                </div>
                <!-- Account Dropdown Structure -->
                <ul id='dropdown_account' class='dropdown-content'>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <li><a href="#" class="dropdown-item">Product Management</a></li>
                            <li class="divider" tabindex="-1"></li>
                        {% endif %}
                        <li><a href="#" class="dropdown-item">My Profile</a></li>
                        <li><a href="#" class="dropdown-item">Logout</a></li>
                    {% else %}
                        <li><a href="#" class="dropdown-item">Register</a></li>
                        <li><a href="#" class="dropdown-item">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    <!-- Additional Header Content -->
    {% block page_header %}
    {% endblock %}
    </header>    

    <!-- Page Content -->
    {% block content %}
    {% endblock %}

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12"><h5 class="white-text">Guate Coffes Shop</h5>
				<p class="grey-text text-lighten-4">Coffee from Guatemala can be the perfect balance of full bodied, strong, sweet and
					acid with complex flavor notes. It can appeal to a wide range of people and there is sure to be a coffee from this
					country with your name on it. Guatemalan coffees roasted to order and shipped direct to you.</p>
				</div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3"
                    href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>

{% if messages %}
{% endif %}

{% block postloadjs %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.button-collapse').sideNav();
        $('.parallax').parallax();
    });
    $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
  );
</script>
{% endblock %}


</body>

</html>