{% extends 'base.html' %}
{% load static %}

{% load materializecss %}

{% block page_header %}
{% endblock %}


{% block content %}
<!-- Check Out Form section -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h4 class="center-text header">Product Management</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8">
                <p>Please complete the following information to add a new prouct.</p>
				<form action="{% url 'add_product' %}" method="POST" id="add-product-form" enctype="multipart/form-data">
					{% csrf_token %}
                    <h5 class="header cyan-text text-darken-3 mt-20">Product Info</h5>
					<div class="card horizontal mt-20">
						<div class="card-stacked">
                            <div class="card-content">
                                {{ form.name | materializecss }}
                                {{ form.region | materializecss }}
                                {{ form.finca | materializecss }}
                                {{ form.description | materializecss }}
                                {{ form.roast_level | materializecss }}
                                {{ form.cupping_notes | materializecss }}
                                {{ form.description_2 | materializecss }}
                                {{ form.retail_price | materializecss }}
                            </div>
                            <div class="card-action">
                                <input type="checkbox" name="save_info" class="filled-in teal darken-3" id="save-info-box" checked="checked" />
                                <label for="save-info-box">Checkbox</label>
                                <button class="btn-flat cyan-text" type="submit">Link</button>
                            </div>
						</div>
					</div>
                    <h5 class="header cyan-text text-darken-3 mt-20">Product Image</h5>
					<div class="card horizontal mt-20" id="delivery-info-form">
						<div class="card-stacked">
                            <div class="card-content">
                                {{ form.rating | materializecss }}
                                {{ form.main_image | materializecss }}
                            </div>
                            <div class="card-action">
                                <input type="checkbox" name="save_info" class="filled-in teal darken-3" id="save-info-box" checked="checked" />
                                <label for="save-info-box">Checkbox</label>
                            </div>
						</div>
					</div>
					
                    <div class="submit-button mt-50 right-align">
                        <a href="{% url 'products' %}"class="btn-flat cyan-text">Cancel</a>
                        <button id="checkout-button" class="btn waves-effect waves-light deep-purple darken-3">
                            <span class="">Done</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                    </div>
				</form>
            </div>
            <div class="col s12 m4 center-align">
                <h5 class="mt-20">You're Now Adding A New Product</h5>
                <img src="{{ MEDIA_URL }}full_cups.jpg" alt="Empty Cups image" class="div-cover-image">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        $('select').material_select();
        $('ul.tabs').tabs('select_tab', 'tab_id');
    });
</script>

{% endblock %}
