{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% load ratings %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}


{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container">
		<div class="section">
			<!--   Filters  -->
            <div class="row">
                <div class="col s12 m4">

                    <ul class="collection with-header hide-on-small-only">
                        <li class="collection-header"><h4>Search By Region</h4></li>
                        <li><a href="{% url 'products' %}"class="collection-item ">All Regions</a></li>
                        {% for region in regions %}
                        <li><a href="{% url 'products' %}?region={{region.name}}" class="collection-item {% if region.name == region_query_name %} active {% endif %}">{{ region.friendly_name }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="collection filter-products-collection with-header">
                        <li class="collection-header"><h5>Filter Products</h5></li>
                        <li class="collection-item mobile-selector">
                            <div class="input-field show-on-small">
                                <select id="mobile-region-selector">
                                <option value="" disabled selected>Select Region</option>
                                <option value="all-regions">All 7 Regions</option>
                                {% for region in regions %}
                                <option value="{{ region.name }}" {% if region.name == region_query_name %}selected{% endif %}>{{ region.friendly_name }}</option>
                                {% endfor %}
                                </select>
                                <label>Filter Region</label>
                            </div>
                        </li>
                        <li class="collection-item checkboxes-container">
                            <p>
                                <input id="price-sort-checkbox" data-sortkey="retail_price" data-direction="asc" type="checkbox" class="filled-in filter-products-checkbox"/>
                                <label for="price-sort-checkbox">Lowest Price First</label>
                            </p>
                            <p>
                                <input id="rating-sort-checkbox" data-sortkey="rating" data-direction="desc" type="checkbox" class="filter-products-checkbox filled-in"/>
                                <label for="rating-sort-checkbox">Best Ratings First</label>
                            </p>
                            <p>
                                <input id="new-sort-checkbox" data-sortkey="new" data-direction="none" type="checkbox" class="filter-products-checkbox filled-in"/>
                                <label for="new-sort-checkbox">New Products Only</label>
                            </p>
                            {% if region_query_name != None or current_sorting != 'None_None' %}
                            <div id="clear-filter-chip" class="chip">
                                Clear Filter Search
                                <i class="close material-icons">close</i>
                            </div>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <!-- Product Cards -->
                <div class="col s12 m8">
                    {% if products|length == 0 %}
                    <h4>Sorry! No products matching your search.</h4>
                    {% endif %}
                    <div class="row">
                        {% for product in products %}
                        <div class="col s12 m6 product-card-container ">
                            <div class="card hoverable">
                                <div class="card-image">
                                    {% if product.main_image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="" src="{{ product.main_image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="" src="{{ MEDIA_URL }}no_image_available.png" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                    
                                    <a class="btn-floating halfway-fab waves-effect waves-light" href="{% url 'product_detail' product.id %}"><i class="material-icons">free_breakfast</i></a>
                                </div>
                                <div class="card-content">
                                    {% if product.new_product%}
                                    <span class="new badge"></span>
                                    {% endif %}
                                    <a class="black-text" href="{% url 'product_detail' product.id %}"><span class="card-title">{{ product.name|truncatechars:31 }}</span></a>
                                    <hr>
                                    <p id="card-price-text">${{ product.retail_price }}</p>
                                    <div class="rating-stars-container">
                                        {% ratings product %}
                                    </div>
                                    <div class="chip center-align">
                                        <img src="{{ MEDIA_URL }}explore_icon.png" alt="Explore Icon">
                                        <a href="{% url 'products' %}?region={{product.region.name}}">{{ product.region.friendly_name }}</a>
                                    </div>
                                </div>
                            </div>
                            {% if request.user.is_superuser %}
                            <div class="product-management-links-container mb-20 center-align">
                                <a class="mx-20 teal-text text-darken-2" href="{% url 'edit_product' product.id %}"><i class="material-icons">create</i>Edit</a>
                                <a class="mx-20 red-text text-darken-2" href="{% url 'delete_product' product.id %}"><i class="material-icons">delete</i>Delete</a>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
	</div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">The coffee industry in Guatemala is strong, and has a high percentage of coffee considered to be high quality. These coffees are sought by buyers all over the world.</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ MEDIA_URL }}background5.jpg" alt="Unsplashed background img 2"></div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>About Us</h4>
                    <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non
                        consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo,
                        ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium
                        eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis
                        nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed
                        ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        Curae;</p>
                </div>
            </div>

        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light-shadow">Unfortunately a large percentage of the Guatemalan population lives in poverty. When harvest season arrives, villagers will travel to coffee farms to work for the season in hopes to supplement their low village income.</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ MEDIA_URL }}background4.jpg" alt="Unsplashed background img 3"></div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.slider').slider();
            $('select').material_select();
            $(".button-collapse").sideNav();

            var queryString = window.location.search;
            var urlParams = new URLSearchParams(queryString);
            var current_sortkey = urlParams.get('sort');

            if (current_sortkey == 'retail_price') {
                $('#price-sort-checkbox').attr("checked", "checked");
            } else if (current_sortkey == 'rating') {
                $('#rating-sort-checkbox').attr("checked", "checked");
            } else if (current_sortkey == 'new') {
                $('#new-sort-checkbox').attr("checked", "checked");
            };
        });
	</script>
    <script type="text/javascript">
        $('.filter-products-checkbox').change(function() {
            var currentUrl = new URL(window.location);
            var search_params = currentUrl.searchParams;
            var sortkey = $(this).attr("data-sortkey");
            var direction = $(this).attr("data-direction");
            search_params.set("sort", sortkey);
            search_params.set("direction", direction);
            currentUrl.search = search_params.toString();
            var new_url = currentUrl.toString();
            window.location.replace(new_url);
        });
        $('#clear-filter-chip').on('click', function(){
            var currentUrl = new URL(window.location);
            currentUrl.searchParams.delete("region");
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
            window.location.replace(currentUrl);
        });

        $('#mobile-region-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);
            var selectedRegion = selector.val();
            if (selectedRegion != "all-regions") {
                currentUrl.searchParams.set("region", selectedRegion);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("region");
                window.location.replace(currentUrl);
            } 
        });
    </script>
{% endblock %}