{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% load ratings %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}


{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container">
		<div class="section">
			<!--   Filters  -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="">
                        <ul class="collection with-header">
                            <li class="collection-header"><h4>Filter By Region</h4></li>
                            <li><a href="#!" class="collection-item">All Regions</a></li>
                            {% for region in regions %}
                            <li><a href="#!" class="collection-item">{{ region.friendly_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Product Cards -->
                <div class="col s12 m8">
                    <div class="row">
                        {% for product in products %}
                        <div class="col s12 m6 product-card-container">
                            <div class="card">
                                <div class="card-image">
                                    {% if product.main_image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="" src="{{ product.main_image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class=""" src="{{ MEDIA_URL }}no_image_available.png" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                    
                                    <a class="btn-floating halfway-fab waves-effect waves-light" href="{% url 'product_detail' product.id %}"><i class="material-icons">free_breakfast</i></a>
                                </div>
                                <div class="card-content">
                                    {% if product.new_product%}
                                    <span class="new badge"></span>
                                    {% endif %}
                                    <a class="black-text" href="{% url 'product_detail' product.id %}"><span class="card-title">{{ product.name|truncatechars:35 }}</span></a>
                                    <hr>
                                    <p id="card-price-text">${{ product.retail_price }}</p>
                                    <div class="rating-stars-container">
                                        {% ratings product %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
	</div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">The coffee industry in Guatemala is strong, and has a high percentage of coffee considered to be high quality. These coffees are sought by buyers all over the world.</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ MEDIA_URL }}background5.jpg" alt="Unsplashed background img 2"></div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>About Us</h4>
                    <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non
                        consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo,
                        ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium
                        eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis
                        nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed
                        ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        Curae;</p>
                </div>
            </div>

        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light-shadow">Unfortunately a large percentage of the Guatemalan population lives in poverty. When harvest season arrives, villagers will travel to coffee farms to work for the season in hopes to supplement their low village income.</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ MEDIA_URL }}background4.jpg" alt="Unsplashed background img 3"></div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.slider').slider();
        });
        $(".button-collapse").sideNav();
	</script>
{% endblock %}