{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% load ratings %}
{% load materializecss %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}


{% block page_header %}
{% endblock %}

{% block content %}
<!-- Floating Fixed button: Actions -->
<div class="fixed-action-btn hide-on-med-and-up">
    <span class="mr-20">Add To Cart</span>
    <a id="add-to-cart-floating-btn" href="#add-to-cart-modal" class="btn-floating btn-large modal-trigger waves-effect waves-light deep-purple darken-3">
        <i class="large material-icons">add_shopping_cart</i>
    </a>
</div>
<!-- Product Introduction: Name, Main Image, Main Description -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h4 class="center-text header">{{ product.name }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                    <div class="card hoverable">
                    <div class="card-image">
                        {% if product.main_image %}
                        <img id="main-image-product" class="materialboxed" data-caption="{{ product.name }}" src="{{ product.main_image.url }}" alt="{{ product.name }}">
                        {% else %}
                        <img class="" src="{{ MEDIA_URL }}no_image_available.png" alt="{{ product.name }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col s12 m6"> 
                <div class="row price-rating-container">
                    <div class="col s12">
                        <div class="chip">
                            <img src="{{ MEDIA_URL }}explore_icon.png" alt="Explore Icon">
                            <a href="{% url 'products' %}?region={{region.name}}">{{ product.region.friendly_name }}</a>
                        </div>
                        <div class="chip">
                            <img src="{{ MEDIA_URL }}coffee_bean_icon.png" alt="Coffee Bean Icon">
                            {{ product.roast_level|capfirst }} Roast
                        </div>
                        <h4 class="detail-price-label cyan-text text-darken-3">$ {{ product.retail_price }}</h4>
                        {% ratings product read_only="True" %}
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="product-management-links-container mb-20 center-align">
                        <a class="mx-20 teal-text text-darken-2" href="{% url 'edit_product' product.id %}"><i class="material-icons">create</i>Edit</a>
                        <a class="mx-20 red-text text-darken-2" href="{% url 'delete_product' product.id %}"><i class="material-icons">delete</i>Delete</a>
                    </div>
                    {% endif %}
                    <div class="col s12 small-text">
                        <h5 class="cyan-text text-darken-3">About This Product:</h5>
                        <p id="truncated-product-description" class="small-text">{{ product.description|truncatewords:"30" }}</p>
                        <p id="full-product-description" class="hide small-text">{{ product.description }}</p>
                        <a id="read-more-description-link">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Back to Products Button -->
<div class="container mt-20">
    <div class="row">
        <div class="col s12 center-align">
            <a href="{% url 'products' %}" class="btn waves-effect waves-light deep-purple darken-3"><i class="material-icons left">chevron_left</i>Back To Products</a>
        </div>
    </div>
</div>
<!-- Further Information: Table, Add To Cart Options -->
<div class="container mt-50">
    <div class="section">
        <div class="row mb-0">
            <div class="col s12 m6">
                <div class="row">
                    <div class="col s12 facts-table-container">
                        <h5 class="center-align cyan-text text-darken-3">Product Facts</h5>
                        <table class="striped product-detail-table">
                            <thead>
                            <tr>
                                <th><span class="btn-floating no-cursor mr-20"><i class="material-icons" aria-hidden="true">explore</i></span>Origin</th>
                                <td>{{ product.region.friendly_name }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if product.finca %}
                            <tr>
                                <th><span class="btn-floating no-cursor mr-20"><i class="material-icons" aria-hidden="true">pin_drop</i></span>Finca</th>
                                <td>{{ product.finca|title }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th><span class="btn-floating no-cursor mr-20"><img class="img-icon" src="{{ MEDIA_URL }}coffee_bean_icon.png" alt="Coffee Bean Icon"></span>Roast Level</th>
                                
                                <td>{{ product.roast_level|title }}</td>
                            </tr>
                            <tr>
                                <th><span class="btn-floating no-cursor mr-20"><i class="material-icons" aria-hidden="true">free_breakfast</i></span>Cupping Notes</th>
                                <td>{{ product.cupping_notes|title }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s12 facts-table-container mt-50">
                            <h5 class="center-align  cyan-text text-darken-3">Region Facts</h5>
                            <table class="striped product-detail-table">
                                <thead>
                                    <tr>
                                        <th><span class="btn-floating no-cursor mr-20"><i class="fa fa-thermometer-three-quarters material-icons" aria-hidden="true"></i></span>Temperature</th>
                                        <td>{{ product.region.weather_temperature }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if product.finca %}
                                    <tr>
                                        <th><span class="btn-floating no-cursor mr-20"><i class="fa fa-cloud material-icons" aria-hidden="true"></i></span>Precipitation</th>
                                        <td>{{ product.region.precipitation }}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th><span class="btn-floating no-cursor mr-20"><i class="fa fa-tint material-icons" aria-hidden="true"></i></span>Humidity</th>
                                        <td>{{ product.region.humidity }}</td>
                                    </tr>
                                    <tr>
                                        <th><span class="btn-floating no-cursor mr-20"><i class="material-icons" aria-hidden="true">terrain</i></span>Altitude</th>
                                        <td>{{ product.region.altitude }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
            <div id="add-to-cart-container" class="col s12 m6 card hide-on-small-only">
                {% include 'products/includes/add_to_cart_form.html' %}
            </div>
        </div>
    </div>
</div>
<!-- Further Information: Other Images -->
{% if image_list|length > 0 %}
<div class="container">
    <div class="section">
        <div class="row">
            <!-- Carousel -->
            <div class="col s12 mt-20">
                <h5 class="center-align cyan-text text-darken-3">More Pictures</h5>
                <div id="other-images-slider" class="carousel carousel-slider mt-20">
                    {% for item in image_list %}
                    <a class="carousel-item"><img class="" src="{{ item.image.url }}" alt="{{ product.name }}"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- Swipeable Tabs: More About Product, Region Information, Reviews -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <ul id="tabs-swipe-product-info" class="tabs">
                    <li class="tab col s3"><a class="active" href="#more-info-product-tab">More About This Product</a></li>
                    <li class="tab col s3"><a href="#about-this-region-tab">About Region</a></li>
                    <li class="tab col s3"><a href="#product-reviews-tab">Reviews</a></li>
                </ul>
                <div id="more-info-product-tab" class="col s12 mt-50">
                    <h5 class="cyan-text text-darken-3">{{ product.name }}</h5>
                    <p class="small-text">{{ product.description_2 }}</p>
                </div>
                <div id="about-this-region-tab" class="col s12 mt-50">
                    <div class="row">
                        <div class="col s12 m6">
                            <h5 class="center-align  cyan-text text-darken-3">{{ product.region.friendly_name }}</h5>
                            <p class="small-text">{{ product.region.description }}</p>
                        </div>
                        <div class="col s12 m6">
                            <h5 class="center-align  cyan-text text-darken-3">Region Facts</h5>
                            <table class="striped product-detail-table">
                                <thead>
                                    <tr>
                                        <th><span class="btn-floating no-cursor mr-20"><i class="fa fa-thermometer-three-quarters material-icons" aria-hidden="true"></i></span>Temperature</th>
                                        <td>{{ product.region.weather_temperature }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if product.finca %}
                                    <tr>
                                        <th><span class="btn-floating no-cursor mr-20"><i class="fa fa-cloud material-icons" aria-hidden="true"></i></span>Precipitation</th>
                                        <td>{{ product.region.precipitation }}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th><span class="btn-floating no-cursor mr-20"><i class="fa fa-tint material-icons" aria-hidden="true"></i></span>Humidity</th>
                                        <td>{{ product.region.humidity }}</td>
                                    </tr>
                                    <tr>
                                        <th><span class="btn-floating no-cursor mr-20"><i class="material-icons" aria-hidden="true">terrain</i></span>Altitude</th>
                                        <td>{{ product.region.altitude }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="product-reviews-tab" class="col s12 mt-50">
                    <div class="row">
                        <div class="col s12 m6 center-align">
                            <h5 class="cyan-text text-darken-3">Average Rating</h5>
                            <div class="mt-20">
                                {% ratings product read_only="True" template_name="star_ratings/only_stars_widget.html"%}
                            </div>
                            <div class="mt-20">
                                {% ratings product read_only="True" template_name="star_ratings/only_stats.html"%}
                            </div>
                            <div class="mt-20">

                            </div>
                        </div>
                        <div class="col s12 m6">
                            <h5 class="center-align cyan-text text-darken-3">Your Review</h5>
                            {% if request.user.is_authenticated %}
                                <div class="mt-20 center-align">
                                    {% ratings product template_name="star_ratings/user_only_stars_widget.html"%}
                                </div>
                                <div class="mt-20 center-align">
                                    {% ratings product read_only="True" template_name="star_ratings/user_stats.html"%}
                                </div>
                                <form action="{% url 'add_or_update_review' product.id request.user %}" method="POST" id="add-update-review-form">
                                    {% csrf_token %}
                                    <p>Tell us what you think about {{ product.name |title }}</p>
                                    {{ review_form.user_rating | materializecss }}
                                    {{ review_form.star_percentage | materializecss }}
                                    {{ review_form.description | materializecss:'custom_size=s12, icon=fas fa-comment-dots' }}
                                    <div class="center-align">
                                        <button class="btn waves-effect waves-light deep-purple darken-3" type="submit">Save</button>
                                    </div>
                                </form>
                            {% else %}
                                Please <a href="{% url 'account_login' %}" class="cyan-text text-darken-1">log in</a> to your account or <a class="cyan-text text-darken-1" href="{% url 'account_signup' %}">sign up</a> to start rating our products
                            {% endif %}
                        </div>
                    </div>
                    <div class="other-users-reviews">
                        <h5 class="center-align cyan-text text-darken-3">What Others Think</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal For Adding Products to Cart -->
<div id="add-to-cart-modal" class="modal">
	<div class="modal-content">
		<div class="row">
            <h5 class="center-align cyan-text text-darken-3">Add Product to Cart</h5>
            <div class="col s12">
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12 grind-option-selector">
                            <select name="grind" class="icons grind-option-selector validate">
                                <option value="none" selected>Choose Grind Option</option>
                                <option value="bean" data-icon="{{ MEDIA_URL }}coffee_bean_icon.png">Whole Bean</option>
                                <option value="coarse" data-icon="{{ MEDIA_URL }}coffee_coarse_grind_icon.png">Coarse</option>
                                <option value="medium" data-icon="{{ MEDIA_URL }}coffee_medium_grind_icon.png">Medium</option>
                                <option value="fine" data-icon="{{ MEDIA_URL }}coffee_fine_grind_icon.png">Fine</option>
                            </select>
                            <label class="option-label">Select grind for your coffee first</label>
                        </div>
                        <div class="modal-input-field col s12">
                            <p class="option-label">How many items would you like to add?</p>
                            <div class="row mt-20">
                                <div class="col s4 center-align">
                                    <button class="modal-decrement-qty modal-decrement-qty_{{ product.id }} btn" data-item_id="{{ product.id }}">
                                        <span class="material-icons change-qty-icon">remove</span>
                                    </button>
                                </div>
                                <div class="col s4 center-align">
                                    <input class="modal_qty_input center-align modal_id_qty_{{ product.id }}" type="number" name="quantity" value="1" min="1" max="50" data-item_id="{{ product.id }}">
                                </div>
                                <div class="col s4 center-align">
                                    <button class="modal-increment-qty modal-increment-qty_{{ product.id }} btn" data-item_id="{{ product.id }}">
                                        <span class="material-icons change-qty-icon">add</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="row">
                                <div class="col s6 right-align">
                                    <span class="option-label">Price:</span>
                                    <span class="option-label">Subtotal:</span>
                                </div>
                                <div class="col s6 left-align">
                                    <span class="detail-subtotal-label cyan-text text-darken-3">$ <span class="modal-item-price-label">{{ product.retail_price }}</span></span>
                                    <span class="detail-subtotal-label cyan-text text-darken-3">$ <span class="modal-item-subtotal-label">{{ product.retail_price }}</span></span>
                                </div>
                            </div>
                            <div class="center-align col s12">
                                <button type="submit" class="waves-effect waves-light btn mt-20 add-to-cart-btn pulse"><i class="material-icons left">add_shopping_cart</i>Add To Cart</button>
                            </div>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function(){
        $('.collapsible').collapsible();
        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true,
        });
        $('.materialboxed').materialbox();
        $('select').material_select();
        $('ul.tabs').tabs('select_tab', 'tab_id');
        autoplay();
    });
    // Auto fill Star Rating Widget from user stats:
    // Adjust width of star rating foreground and prefill custom review form

    var starUserRating = parseInt($('#star-ratings-user-rating').html());
    var maxRating = parseInt($('.custom-user-star-ratings-widget').attr('data-max-rating'));
    var userRatingPercentage = starUserRating/maxRating*100;
    
    if (!isNaN(starUserRating)){
        $('#custom-user-star-rating-foreground').css("width", userRatingPercentage+"%");
        $('#star-ratings-user-rating-span').eq(0).html(starUserRating);
        console.log(starUserRating);
        $('#id_user_rating').val(parseFloat(starUserRating));
        $('#id_star_percentage').val(userRatingPercentage);
    }

    // Callback function called when user submits the star rating
    // form using the custom widget

    $('.star-ratings-rate-action').submit(function() {
        var selectedScore = $(this).find('input[name ="score"]').val();
        var newRatingPercentage = selectedScore/maxRating*100;
        console.log(selectedScore);
        $('#star-ratings-user-rating-span').html(selectedScore);
        $('#id_user_rating').val(selectedScore);
        $('#id_star_percentage').val(newRatingPercentage);
        setTimeout(function(){
            $('#custom-user-star-rating-foreground').css("width", newRatingPercentage+"%");
        }, 500);
        
        //alert( "You selected: " + score );
    });
</script>
<script type="text/javascript">
        
    </script>
{% include 'products/includes/product_detail_script.html' %}
{% endblock %}