{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load materializecss %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h2 class="brown-text text-darken-3">{% trans "Sign Up" %}</h2>
        <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
        {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

        <form class="signup mt-20" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            {{ form | materializecss }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="input-field col s12 mt-50">
                <button class="btn waves-effect waves-light deep-purple darken-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
