<script>
function createSuccessToast(message){
    var toastHTML = `
        <div class="orange-text text-darken-2">
            <i class="material-icons left">error_outline</i>
        </div>
        <div> {{message}} </div>
        <button class="btn-flat toast-action" onClick="dismissToast()">Dismiss</button>`;
    Materialize.toast(toastHTML,10000);
}

function dismissToast() {
    var toastElement = $('.toast').first()[0];
    var toastInstance = toastElement.M_Toast;
    toastInstance.remove();
}

createSuccessToast();
</script>